@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Montserrat:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Extend Tailwind fonts */
@layer base {
  :root {
    --font-poppins: "Poppins", sans-serif;
    --font-geist-mono: "Geist Mono", monospace;
  }
}

::-webkit-scrollbar:vertical {
  display: none;
}
body {
  @apply font-poppins;
}

.border-color {
  @apply border-black/10 dark:border-white/20;
}

.sidebar {
  transition: min-width 0.3s ease-in-out;

  &.sidebar-expanded {
    min-width: 265px;
  }

  &.sidebar-collapsed {
    min-width: 75px;
  }
}

/* Description */
.description-container {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  max-width: 800px;
  @apply text-dark-black dark:text-light-white;
}
.description-content h1 {
  font-family: "Poppins", sans-serif;
  @apply text-4xl;
}
.description-content h2 {
  @apply text-2xl;
}
.description-content ol {
  @apply text-xl font-geist my-4 ml-3;
}
.description-content li {
  @apply text-[16px] font-poppins;
}
.description-content li::before {
  content: "✅";
  @apply pr-2 text-[16px];
}

.description-content blockquote {
  @apply bg-white dark:bg-black border border-color rounded-lg my-2 italic px-4 py-3 font-geist;
}

.description-content a {
  color: #007bff; /* Blue color for links */
  text-decoration: none; /* Remove underline */
}

.description-content a:hover {
  text-decoration: underline; /* Underline on hover for links */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .description-container {
    padding: 15px;
  }
}
